/* Dataviz1*/


#info {
    margin-top: 50px;
}

#deptinfo {
    margin-top: 30px;
}

.department {
    cursor: pointer;
    stroke: black;
    stroke-width: .5px;
}

.department:hover {
    stroke-width: 2px;
}

.department_selected {
    stroke: red;
    stroke-width: 2px;
}


#svg1 {
    display: block;
}

/* dataviz2 */
.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis--x path {
    display: none;
}

h1 {
    text-align: center;
    color: #4682B4;
}

h2 {
    text-align: center;
    color: #6BAED6;
}

p {
    text-align: justify;
    color: #2D3F53;
}

#dataviz1 {
    width:600px;
    left:0;
    position:absolute;
    z-index:1;
}


#dataviz2 {
    width:650px;
    right:0;
    position:absolute;
    z-index:2;
}

div.tooltip {
    position: absolute;
    text-align: center;
    color: black;
    width: 275px;
    height: 47px;
    padding: 2px;
    font: 12px sans-serif;
    background: grey;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index:49;
}

#blocBla {
    padding-top: 40%;
}